@import url('normalize.css');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

main {
    /* border: 1px solid red; */
    max-width: 80rem;
    margin: 0 auto;
    /* display: flex; */
    justify-content: center;
}



body > header, 
body > footer{
    background:#38A0B7;
}

body > header nav ul{
    display:flex;
    justify-content:center;
    gap:2rem;
    margin:0;
    flex-wrap: wrap;
    
}

body > header nav ul a{
    color:black;
    text-decoration:none;
}

body > footer {
    color:#000000;
}

body > footer > *:last-child{
    grid-column: span 3;
    text-align:center;
    padding:1rem;
}

nav  li {
    list-style-type: none;
}


form div {
    text-align: center;
}

label{
    display:block;
    margin-top:1rem;
}

input, textarea{
    width:100%;
    border-radius:0px;
    border:1px solid black;
    padding:0.5rem;

}

button {
    color: white;
    border-radius:5px;
    background-color:rgb(0, 0, 0);
    padding:0.5rem 1rem;
    justify-content: space-around;
}

button:hover{
    background-color:#38A0B7;
    border: 1px solid #38A0B7 ;
    cursor: pointer;
}



article.catalogue {
    border: 1px solid #F0F;
    max-width: 20rem;
}
article.catalogue > div {
    padding: 1rem;
}
article.catalogue footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
article.catalogue .price {
    margin-left: auto;
}

.price::before {
    content: '€';
}






